.sidebar{
    display: flex;
    flex-direction: column;
    flex: .3;
}

.sidebar_header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 40px;
    border-right: 1px solid lightgrey;
}

.sidebar_headerRight > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar_search{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px;
    background-color: #f6f6f6;
}

.sidebar_searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    height: 36px;
    width: 100%;
    border-radius: 20px;
}
.sidebar_searchContainer > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
}

.sidebar_searchContainer > input {
    border: none;
    outline-width: 0;
    margin-left: 10px;
}

.sidebar_rooms{
    flex: 1;
    background-color: white;
    overflow-y: scroll;
}