.chat{
    
    flex: 1;
    background-image: url("https://fatalerror.xyz/outfit/images/pattern2.jpg");
    padding: 30px;
    overflow-y: scroll;
    background-position: center;
    background-repeat: repeat;
}

